.what {
    .icon-svg svg {
        width: 100%;
        height: auto;
        opacity: 0.2;
        padding: 0 $spacing $spacing-lg;
        @media (max-width: $container-width-md) {
            padding: $spacing-sm;
        }
    }

    .row .col-4 {
        @media (max-width: $container-width-sm) {
            flex-basis: 16%;
        }
    }
}