img {
    max-width: 100%;
}

.overlay-img {
    opacity: 0.3;
    img {
        max-width: 600px;
        position: absolute;
        @media (max-width: $container-width-md) {
            width: 100%;
            position: relative;
        }
    }
    &~* {
        z-index: 2;
    }
}