.navigation {
    .logo-nav, .toggle {
        cursor: pointer;
        z-index: 20;
        position: fixed;
        top: $spacing;
        padding: $spacing;
        @media (max-width: $container-width-md) {
            @include box-shadow();
            background: $white;
            padding: $spacing-sm;
        }
    }
    .logo-nav {
        left: $spacing;
        stroke: $gold;
        @media (max-width: $container-width-md) {
            left: 0;
            svg {
                width: 5rem;
            }
        }
    }
    .toggle {
        right: $spacing;
        fill: $white;
        @media (max-width: $container-width-md) {
            right: 0;
            fill: $gold;
        }
        svg path {
            @include transition($time: 0.5s);
        }
        &.open {
            fill: $gold;
            svg {
                path:first-of-type {
                    transform: translateY(10px);
                }
                path:last-of-type {
                    transform: translateY(-10px);
                }
            }
        }
    }
    .menu-nav {
        @include transition();
        z-index: 9;
        position: fixed;
        top: 0;
        right: -25rem;
        width: 25rem;
        height: 100%;
        background-color: $gold;
        @media (max-width: $container-width-sm) {
            width: 100vw;
            right: -100vw;
        }
        &.open {
            right: 0;
        }
        .nav-item {
            display: block;
            text-align: center;
            font-size: 1.5rem;
            color: $black;
            margin: 0;
            line-height: 16.7vh;
            cursor: pointer;
        }
    }
}