.navigation {
    .logo-nav {
        z-index: 20;
        position: fixed;
        top: $spacing;
        left: $spacing;
        stroke: $gold;
        @media (max-width: $container-width-md) {
            top: 0;
            left: 0;
            background: $gold;
            .logo {
                stroke: $white;
            }
        }
        .logo {
            width: 7rem;
            margin-top: 5px;
        }
    }
    .toggle {
        z-index: 20;
        position: fixed;
        top: $spacing;
        right: $spacing;
        cursor: pointer;
        color: $white;
        fill: $white;
        @media (max-width: $container-width-md) {
            top: 0;
            right: 0;
            background: $gold;
        }
        svg path {
            @include transition($time: 0.5s);
        }
        &.open {
            fill: $white;
            svg {
                path:first-of-type {
                    transform: translateY(10px);
                }
                path:last-of-type {
                    transform: translateY(-10px);
                }
            }
        }
        .icon-svg {
            margin: $spacing;
        }
    }
    .menu-nav {
        @include transition();
        padding: 4rem 0;
        z-index: 9;
        position: fixed;
        top: 0;
        right: -25rem;
        width: 25rem;
        height: 100%;
        background-color: $gold;
        &.open {
            right: 0;
        }
        .nav-item {
            display: block;
            padding: 4rem 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: $black;
            margin: 0;
            line-height: 1;
            cursor: pointer;
        }
    }
}