.timeline {
    .item {
        @include box-shadow();
        background-color: $white;
        padding: 5rem $spacing-lg;
        margin: -$spacing $spacing $spacing $spacing;
        color: $black;
        position: relative;
        z-index: 9;
        &.gray {
            background-color: $gray;
            margin: -3rem 0 -$spacing-lg -4rem;
            width: 90%;
            z-index: 10;
            hr {
                background-color: $white;
            }
        }
        &.gold {
            background-color: $gold;
            margin: -$spacing-lg 0 -$spacing-lg 0;
            z-index: 8;
            hr {
                z-index: 9;
                background-color: $white;
            }
        }
        p {
            margin: 0;
        }
        hr {
            margin: $spacing 0;
            display: block;
            flex: auto;
        }
        @media (max-width: $container-width-sm) {
            &, &.gray, &.gold {
                margin: $spacing 0 0 0;
                width: 100%;
                padding: $spacing-lg;
            }
        }
    }
}