* {
    box-sizing: border-box;
}

html {
    background: $gold;
}

body {
    border: $spacing solid $gold;
    border-width: $spacing $spacing-sm $spacing $spacing;
    color: $white;
    font-family: $serif;
    font-weight: 300;
    font-size: 16px;
    max-width: calc(100vw - 0.5rem);
    @media (max-width: $container-width-md) {
        border-width: $spacing-sm 0 $spacing-sm $spacing-sm;
    }
}

main {
    background: linear-gradient($gray-dark, $black);
}

hr {
    height: 1px;
    background-color: $gray;
    border: none;
}

.hide {
    display: none;
}

::-webkit-scrollbar {
    width: $spacing-sm;
}

::-webkit-scrollbar-track {
    background: $gold;
}

::-webkit-scrollbar-thumb {
    background: $white;
}

::-moz-selection {
    color: $black;
    background: $gold;
}

::selection {
    color: $black;
    background: $gold;
}