@keyframes opening {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	60% {
		opacity: 0.2;
	}
	70% {
		opacity: 0.7;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0.7;
	}
	20% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 0.9;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $white; }
}