// Colours
$black: #1A1E27;
$white: #FFFFFF;
$gray: #EEEEEE;
$gray-dark: #6F7A8E;
$gold: #e3caa6;
//Fonts
$serif: 'IBM Plex Mono', monospace;
// Widths
$container-width-md: 70rem;
$container-width-sm: 50rem;
// Spacing
$spacing: 1rem;
$spacing-sm: 0.5rem;
$spacing-lg: 2rem;